# generated
*.nds
*.ini
*.mch
build/*
base/*
narc/*
1.txt
3.txt
9.txt
12.txt
9.txr
定点捕捉等宠物.txt
技能表表格.txt
心金898测试版.zip
b.c
dump.py
dumpitem.py
*_DSPRE_contents/*
/tools/*.s
/tools/dumped_armips/*

# pycache files
*.pyc
*.sav
.venv


/armips/asm/offset.s
/tools/genleveldatatxt
/tools/gengfxnarc.exe
/tools/genbabymondata
/tools/gendexsortlists
/tools/btx0topng
/tools/gentutormovedata
/tools/gengfxicons.exe
/tools/genevodatatxt
/tools/armips
/tools/genmonareadexdata
/tools/geneggmovedata
/tools/gengfxdata.exe
/tools/genheightdata
/tools/genmondatatxt
/tools/geniconnarc.exe
/tools/narcpy.py
/tools/ncgrtopng.exe
/tools/nitrogfx
/tools/pngtobtx0.exe
/tools/pngtoncgr.exe
/tools/replacehexwithdec
/tools/sortmonareadexdata
/tools/msgenc
/tools/genleveldatatxt.exe
/tools/genbabymondata.exe
/tools/gendexsortlists.exe
/tools/btx0topng.exe
/tools/gentutormovedata.exe
/tools/genevodatatxt.exe
/tools/armips.exe
/tools/genmonareadexdata.exe
/tools/geneggmovedata.exe
/tools/genheightdata.exe
/tools/genmondatatxt.exe
/tools/nitrogfx.exe
/tools/replacehexwithdec.exe
/tools/sortmonareadexdata.exe
/tools/msgenc.exe
/tools/ndstool
/tools/ndstool.exe
/tools/csv2bin
/tools/o2narc*
/tools/adpcm-xq*
/tools/ntrWavTool.py
/tools/ENCODE_IMG*

*.o
*.d
*.DS_STORE
armips/asm/offset.s
.vs/
.vscode/
rom_gen*.ld
.idea/
.zed
compile_commands.json
CLAUDE.md

sdat/*
*.swav
*.swar
tools/swav2swar.exe

*:Zone.Identifier

*.ml*

*.gbapal
*.4bpp
changelog

/data/generated/
/armips/include/generated/
/include/constants/generated/
test_logs.txt
