name: build

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Update and Install Software
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
          sudo apt update
          sudo apt -y --allow-downgrades install libpng-dev build-essential cmake python3-pip python3-venv git autoconf gcc-arm-none-eabi pkg-config

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Repo
        run: |
          mkdir -p ~/download
          cd ~/download
          wget https://archive.org/download/pkmn_collection/pkmn%20collection/NDS/Pokemon%20-%20HeartGold%20Version%20%28USA%29.zip
          unzip "Pokemon - HeartGold Version (USA).zip"
          mv "Pokemon - HeartGold Version (USA).nds" "rom.nds"
          mv rom.nds $GITHUB_WORKSPACE/
        working-directory: ~

      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 19

      - name: Build hg-engine
        run: make -j$(nproc)
